.contactContent {
    width: 100%;
    display:flex;
    flex-direction: row;
}
.gmap_canvas {
    
    background:none!important;
    height: 100%;
    
    width: 40%;
}
.numbers {
    width: 950px;
    height: 75vh;
}
.map {
    height: 75vh;
    width: 100%
}
@media (max-width: 1600px) {
    .gmap_canvas {
        width: 30%;
    }
}
@media (max-width: 1400px) {
    .gmap_canvas {
        width: 20%;
    }
}
@media (max-width: 1160px) {
    .gmap_canvas {
        width: 0%;
    }
}