.rightdrawer {
    position: fixed;
    right: 0;
    top: 25vh;
    
    text-align: center;

    width: 38vw;
    height: 75vh;

    background: lightgray;
    box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.6);

    display: flex;
    flex-direction: column;
}

.box {
    width: 100%;
    padding: 1%;
    
}

.iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 1650px) {
    .rightdrawer {
        width: 37vw;
    }
}
@media (max-width: 1600px) {
    .rightdrawer {
        width: 36vw;
    }
}
@media (max-width: 1550px) {
    .rightdrawer {
        width: 34vw;
    }
}
@media (max-width: 1500px) {
    .rightdrawer {
        width: 32vw;
    }
}
@media (max-width: 1450px) {
    .rightdrawer {
        width: 30vw;
    }
}
@media (max-width: 1400px) {
    .rightdrawer {
        width: 28vw;
    }
}@media (max-width: 1350px) {
    .rightdrawer {
        width: 26vw;
    }
}
@media (max-width: 1300px) {
    .rightdrawer {
        width: 24vw;
    }
}