.leftdrawer {
    width: 15vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;

    background: rgb(80,80,80);
    color: lightgray;

    z-index: 10;

    font-size: 1.7rem;
}

@media (max-width: 1500px) {
    .leftdrawer {
      font-size: 1.0rem;
    }
}

